	body{
		font-family: Arial, sans-serif;
		min-height:100vh;
		background:url(imgg6.jpeg)center/cover;
	
	}

	.container {
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  text-align: center;
	  width: 100vw;
	  min-height: 100vh;
	  margin-bottom:40px;
	  margin-top:20px;
	}

	.header {
	  margin-top:20px;
	  padding: 100px 0;
	  border-radius: 5px;
	  border-bottom: 1px solid #ccc;
	  margin-bottom:01px;
	  font-family:Goudy old style;
	}
	div{
		margin-top:0px;
		margin-bottom:100px;
		font-size:01px;
		
	}
	h1 {
		margin-top:10px;
	    font-size: 50px;
	    color:lightblue;
		margin-bottom:05px;
	}
	img{
		width:1000px;
		margin-right:10px;
		margin-bottom:10px;
		
	}
